<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card shadow-lg">
        <div class="card-body">

          <!-- Login Form -->
          <form>
            <div class="mb-3 text-center">
              <h4 class="text-primary">Login</h4>
            </div>
            <div class="mb-3 text-left">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email">
            </div>
            <div class="mb-3 text-left">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password">
            </div>
            <button type="button" class="btn btn-info btn-custom btn-block" (click)="login()">Login</button>

            <div class="row">
              <div class="col-md-6">
                <a href="/register" class="text-decoration">Need Account? <span class="text-danger">Register</span></a>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
