<div class="container-sm mt-3 custom-card-body">
  <h2 class="text-info-emphasis">Welcome to our {{ title }} project!</h2>

  <!-- Humidity Section -->
  <div *ngIf="humidity_data" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info ">Humidity</h5>
      <p class="card-text text-secondary">
        Current Humidity:
        <span class="text-info-emphasis">{{ humidity_data }}</span>
      </p>
    </div>
  </div>

  <!-- Light Detected Section -->
  <div *ngIf="light_data !== undefined" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info">Light Detection</h5>
      <p class="card-text text-secondary">
        Light Detected:
        <span class="text-info-emphasis"> {{ light_data ? 'Yes' : 'No' }}</span>
      </p>
    </div>
  </div>

  <!-- Temperature Section -->
  <div *ngIf="temp_data" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info">Temperature</h5>
      <p class="card-text text-secondary">
        Current Temperature:
        <span class="text-info-emphasis">{{ temp_data }}</span>
      </p>
    </div>
  </div>

  <!-- Water Detected Section -->
  <div *ngIf="water_data" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info">Water Detection</h5>
      <p class="card-text text-secondary">
        Water Detected:
        <span class="text-info-emphasis">{{ water_data }}</span>
      </p>
    </div>
  </div>
</div>
