<div class="container-sm mt-3 custom-card-body">
  <h2 class="text-info-emphasis">Welcome to our {{ title }} project!</h2>

  <div *ngIf="humidityData" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info ">Humidity</h5>
      <p class="card-text text-secondary">
        Current Humidity:
        <span class="text-info-emphasis">{{ humidityData }}</span>
      </p>
    </div>
  </div>

  <!-- Light Detected Section -->
  <div *ngIf="lightData !== undefined" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info">Light Detection</h5>
      <p class="card-text text-secondary">
        Light Detected:
        <span class="text-info-emphasis"> {{ lightData ? 'Yes' : 'No' }}</span>
      </p>
    </div>
  </div>

  <!-- Temperature Section -->
  <div *ngIf="temperatureData" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info">Temperature</h5>
      <p class="card-text text-secondary">
        Current Temperature:
        <span class="text-info-emphasis">{{ temperatureData }}</span>
      </p>
    </div>
  </div>

  <!-- Water Detected Section -->
  <div *ngIf="waterData" class="card my-3 custom-card-body">
    <div class="card-body text-bg-light">
      <h5 class="card-title" class="text-info">Water Detection</h5>
      <p class="card-text text-secondary">
        Water Detected:
        <span class="text-info-emphasis">{{ waterData }}</span>
      </p>
    </div>
  </div>
  <button class="btn btn-primary" (click)="goToGraph()">See graph</button>
</div>
