<div class="container-sm mt-3 custom-card-body">
  <h2 class="text-info-emphasis">Plant data status 🌵☘️🌴</h2>
  <h3 class="card-title text-info" *ngIf="plantName !== null">
    Your plant name: {{ plantName }}
  </h3>

  <div class="card my-3 custom-card-body">
  <div *ngIf="humidityData" >
    <div class="card-body text-bg-light">
      <h5 class="card-title text-info">Air Humidity 💧</h5>
      <p class="card-text text-secondary">
        Current Humidity:
        <span class="text-info-emphasis">{{ humidityData }}%</span>
      </p>
      <p *ngIf="plantData?.humidity !== null" class="card-text text-secondary">
        🤖 AI Recommendation:
        <span class="text-info-emphasis">{{ plantData?.humidity }}%</span>
      </p>
    </div>
  </div>

  <!-- Light Detected Section -->
  <div *ngIf="lightData !== undefined" >
    <div class="card-body text-bg-light">
      <h5 class="card-title text-info">Light Detection ☀️</h5>      <p class="card-text text-secondary">
        Light Detected:
        <span class="text-info-emphasis"> {{ lightData ? 'Yes' : 'No' }}</span>
      </p>
      <p *ngIf="plantData?.lightning !== null" class="card-text text-secondary">
        🤖 AI Recommendation:
        <span class="text-info-emphasis">{{ plantData?.lightning }}</span>
      </p>
    </div>
  </div>

  <!-- Temperature Section -->
  <div *ngIf="temperatureData" >
    <div class="card-body text-bg-light">
      <h5 class="card-title text-info">Temperature 🌡️</h5>
      <p class="card-text text-secondary">
        Current Temperature:
        <span class="text-info-emphasis">{{ temperatureData }} celsius</span>
      </p>
      <p *ngIf="plantData?.temperature !== null" class="card-text text-secondary">
        🤖 AI Recommendation:
        <span class="text-info-emphasis">{{ plantData?.temperature }}</span>
      </p>
    </div>
  </div>

  <!-- Water Detected Section -->
  <div *ngIf="waterData" >
    <div class="card-body text-bg-light">
      <h5 class="card-title text-info">Soil Humidity 🌱</h5>
      <p class="card-text text-secondary">
        Water Detected:
        <span class="text-info-emphasis">{{ waterData }}</span>
      </p>
      <p *ngIf="plantData?.soil_wetness !== null" class="card-text text-secondary">
        🤖 AI Recommendation:
        <span class="text-info-emphasis">{{ plantData?.soil_wetness }}</span>
      </p>
    </div>
  </div>
  </div>

  <form class="mt-3">
    <div class="mb-3">
      <h5 class="text-info-emphasis">Do you want to know the optimal parameters for your plant?</h5>
      <input type="text" class="form-control" id="plantNameInput" placeholder="Plant Name" [(ngModel)]="plantName" name="rose">
    </div>
  </form>

  <div class="mt-3">
    <button class="btn btn-primary" (click)="fetchPlantData(plantName)">Ask AI</button>
  </div>
  <div class="mt-3">
  <a href="/graph" class="text-info-emphasis bigger-link">Visualize Plant Data📉📈 </a>
  </div>

</div>
